<div class="row">
  <div class="col-md-12">
    <h2>Students</h2>
    <hr />

    <div class="table-responsive">
        
        <table class="table">
            <thead>
            <tr>
                <th>Student&nbsp;ID</th>
                <th>Full&nbsp;Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Expected&nbsp;Credential</th>
                <th>Status</th>
                <th>Program</th>
                <th>Registration&nbsp;Date</th>
            </tr>
            </thead>
            <tbody>
            {{#each students}}
            <tr>
                <td><a href="/student/{{this.studentID}}">{{this.studentID}}</a></td>
                <td>{{this.firstName}} {{this.lastName}}</td>
                <td><a href="mailto:{{this.email}}">{{this.email}}</a></td>
                <td>{{this.addressStreet}} {{this.addressCity}} {{this.addressState}} {{this.addressPostal}}</td>
                <td><a href="/students?credential={{this.expectedCredential}}">{{this.expectedCredential}}</a></td>
                <td><a href="/students?status={{this.status}}">{{this.status}}</a></td>
                <td><a href="/students?program={{this.program}}">{{this.program}}</a></td>
                <td>{{this.registrationDate}}</td>
            </tr>
            {{/each}}
            </tbody>
        </table>
        {{#unless students}}
            <div class="col-md-12 text-center">
                <strong>{{message}}</strong>
            </div>
        {{/unless}}
    </div>

    {{#if message}}
    <p>{{message}}</p>
    {{/if}}

  </div>
</div>
